#contato {
  @include mbottom-1;
  h2 {
    @include title-2;
    text-align: center;
    @include mbottom-2;
  }
  .contato-conteudo {
    background-image: url("../../img/sections/contato.jpg");
    background-size: cover;
    background-position: center;
    color: $w;
    padding: 60px;
    line-height: px-rem(28px);
    text-align: end;
    @include text-1;
    p:nth-child(2) {
      @include mbottom-3;
    }
  }

  // responsividade
  @include screen(tablet) {
    .contato-conteudo {
      background-position: -100px;
    }
  }

  @include screen(mobile) {
    &.container {
      padding: 0;
    }
  }
}
