{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Henrique Castellani | Fotógrafo</title>
    <link rel="shortcut icon" href="{% static '/assets/svg/favicon.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/styles/css/style.css' %}">

    <!-- typography -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Allura&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>

<body>
    {% if intro %}
    <div class="intro-bg">
        <style>
            .intro-bg {
                background-image: url("{{ intro.imagem.url }}");
            }
        </style>
        <div class="header-bg">
            <div class="background-overlay"></div>
            <header class="header container">
                <img src="{% static '/assets/svg/logo.svg' %}" alt="Henrique Castellani">
                <nav>
                    <ul class="menu-pc">
                        <li><a href="#">Início</a></li>
                        <li><a href="#sobre">Sobre</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#clientes">Clientes</a></li>
                        <li><a href="#contato">Contato</a></li>
                    </ul>
                    <div class="mobile-menu-icon">
                        <button onClick="menuShow()"><img src="{% static '/assets/svg/menu.svg' %}" alt="Menu Mobile"></button>
                    </div>
                </nav>
            </header>
        </div>
        <div class="mobile-menu-bg">
            <div class="background-overlay none"></div>
            <div class="mobile-menu none">
                <ul class="mobile-menu-lista">
                    <li><a href="#">Início</a></li>
                    <li><a href="#sobre">Sobre</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#clientes">Clientes</a></li>
                    <li><a href="#contato">Contato</a></li>
                </ul>
            </div>
        </div>
        <main class="intro container">
            <h1>{{ intro.titulo }}</h1>
            <h2>{{ intro.subtitulo }}</h2>
        </main>
    </div>
    {% endif %}

    <section id="sobre" class="container">
        <h2>Sobre mim</h2>
        {% if sobre %}
        {% for descricao in sobre %}
        <p>{{ descricao.descricao }}</p>
        {% endfor %}
        {% endif %}
    </section>

    <section id="servicos" class="container">
        <h2>Serviços</h2>
        <div class="servicos-grid">
            {% if servicos %}
            {% for servico in servicos %}
            <div class="servicos-item">
                <img src="{{ servico.imagem.url }}" alt="Foto do Serviço">
                <p>{{ servico.servico }}</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </section>

    <section id="portfolio" class="container">
        <h2>Portfolio</h2>
        <div class="portfolio-grid">
            <div class="portfolio-fotos-1">
                {% if quadro_1 %}
                {% for item in quadro_1 %}
                <img src="{{ item.imagem.url }}" alt="{{ item.alt }}">
                {% endfor %}
                {% endif %}
            </div>
            <div class="portfolio-fotos-2">
                {% if quadro_2 %}
                {% for item in quadro_2 %}
                <img src="{{ item.imagem.url }}" alt="{{ item.alt }}">
                {% endfor %}
                {% endif %}
            </div>
            <div class="portfolio-fotos-3">
                {% if quadro_3 %}
                {% for item in quadro_3 %}
                <img src="{{ item.imagem.url }}" alt="{{ item.alt }}">
                {% endfor %}
                {% endif %}
            </div>
            <div class="portfolio-fotos-4">
                {% if quadro_4 %}
                {% for item in quadro_4 %}
                <img src="{{ item.imagem.url }}" alt="{{ item.alt }}">
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

    <section id="clientes" class="container">
        <h2>Clientes</h2>
        <div class="clientes-grid">
            {% if clientes %}
            {% for cliente in clientes %}
            <div class="clientes-item">
                <img src="{{ cliente.foto.url }}" alt="Cliente">
                <p>{{ cliente.comentario }}</p>
                <p>{{ cliente.nome }}</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <button class="button">ver mais</button>
    </section>

    <section id="contato" class="container">
        <h2>Contato</h2>
        <div class="contato-conteudo">
            {% if contato %}
            <p>{{ contato.telefone }}</p>
            <p>{{ contato.email }}</p>
            <p>{{ contato.endereco_1 }}</p>
            <p>{{ contato.endereco_2 }}</p>
            {% endif %}
            <style>
                .contato-conteudo {
                    background-image: url("{% static '/assets/sections/contato/contato.jpg' %}") !important;
                }
            </style>
        </div>

    </section>

    <div class="footer-bg">
        <footer class="footer container">
            <img src="{% static '/assets/svg/logo.svg' %}" alt="Henrique Castellani">
            <nav>
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="#sobre">Sobre</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#clientes">Clientes</a></li>
                    <li><a href="#contato">Contato</a></li>
                </ul>
            </nav>
            <p>Morais © 2024. Todos os direitos reservados.</p>
        </footer>
    </div>

    <script src="{% static '/js/scripts.js' %}"></script>
</body>

</html>